/* Font */
@font-face {
    font-family: Inter;
    src: url(../font/inter/Inter-VariableFont_opsz\,wght.ttf);
}

* {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/* Universal styling */
body, body > div#app {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overscroll-behavior: none;
}

/* Color scheme */
:root {
    // Base colors
    --base-background: #ffffff;
    --base-foreground: #000000;
    --base-header: #efefef;
    --base-border-normal: #d1d1d1;
    --base-border-focused: #1d1d1d;

    // Pane colors
    --pane-pane-header: var(--base-header);
    --pane-background: var(--base-background);
    --pane-border-normal: var(--base-border-normal);
    --pane-border-focused: var(--base-border-focused);

    // App bars - Top bar and media bar
    --appbars-background: var(--base-header);
    --appbars-border: var(--pane-border-normal);

    // Controls
    --control-background: var(--base-background);
    --control-foreground: var(--base-foreground);
    --control-border-normal: var(--base-border-normal);
    --control-border-focused: var(--base-border-focused);
}

/* Design tokens */
.token-button-normal {
    display: inline-block;
    box-sizing: border-box;
    height: 24px;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 4px 8px;
    background-color: var(--control-background);
    border: 1px solid var(--control-border-normal);

    &:hover {
        border: 1px solid var(--control-border-focused);
        background-color: #efefef;
        box-shadow: inset 0 0 0 1px #efefef, inset 0 0 0 2px #fff;
    }

    &:active {
        background-color: #e0e0e0;
        box-shadow: inset 0 0 0 1px #e0e0e0, inset 0 0 0 2px #fff;
    }
}